
header {
    text-align: center;
    font-size:15px;
    letter-spacing: 0.2em;
    background-color: #ef476f;
  }

h1 {
    color:white;
    font-family: Helvetica, sans-serif;
}

#home{
    color: black;
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

h2{
  color: black
}

#about{
    color: black;
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

#products{
    color: black;
    margin-block: 2%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.responsive {
    width: 100%;
    height: auto;
  }

h3{
    background-color: #fdca40;
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

img{
   
}

button{
    background-color: #38b000;
    font-size:x-large;
    font-style: bolder;
    color: white;
    padding: 10px;
    margin-block: 2%;
    padding-bottom: 15px;
}

div{
    background-color: #fdca40;
}

p{
    color:black;
    font-size:medium;
    font-style: bold;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.contact{
    color: white;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
}